<footer class="site_details_footer">
  <div class="container-fluid">
    <div class="row flex-row">
      <div class="col mobile_100">
        <div class="details_footer_item_1">
          <img src="/resources/images/logo.svg" alt="logo" width="100" />
          <ul>
            <li>
              <a href="mailto:giftforward@giftsforgood.com">giftforward@giftsforgood.com</a>
            </li>
            <li class="desktop_none">
              <span>|</span>
            </li>
            <li>
              <a href="tel:(877)%20554-1550">(877) 554-1550</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col mobile_50">
        <div class="details_footer_item">
          <h4>ABOUT</h4>
          <ul>
            <li>
              <a href="https://www.giftsforgood.com/pages/our-impact" target="_blank">Our Impact</a>
            </li>
            <li>
              <a href="https://www.giftsforgood.com/pages/about" target="_blank">Our Story</a>
            </li>
            <li>
              <a href="https://www.giftsforgood.com/pages/our-ceo" target="_blank">Our CEO</a>
            </li>
            <li>
              <a href="https://www.giftsforgood.com/pages/press-media" target="_blank">Press & Media</a>
            </li>
            <li>
              <a href="https://www.giftsforgood.com/pages/request-a-catalog" target="_blank">Request a Catalog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col mobile_50">
        <div class="details_footer_item">
          <h4>HELP</h4>
          <ul>
            <li>
              <a href="https://www.giftsforgood.com/pages/contact" target="_blank">Contact</a>
            </li>
            <li>
              <a href="https://www.giftsforgood.com/pages/contact" target="_blank">Customer Service</a>
            </li>
          </ul>
          <div class="desktop_none">
            <h4>GET INVOLVED</h4>
            <ul>
              <li>
                <a href="https://www.giftsforgood.com/pages/careers" target="_blank">Careers</a>
              </li>
              <li>
                <a href="https://www.giftsforgood.com/pages/partner-with-us" target="_blank">Partner With Us</a>
              </li>
              <li>
                <a href="https://www.giftsforgood.com/pages/rep-program" target="_blank">Rep Program</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col mobile_none">
        <div class="details_footer_item">
          <h4>GET INVOLVED</h4>
          <ul>
            <li>
              <a href="https://www.giftsforgood.com/pages/careers" target="_blank">Careers</a>
            </li>
            <li>
              <a href="https://www.giftsforgood.com/pages/partner-with-us" target="_blank">Partner With Us</a>
            </li>
            <li>
              <a href="https://www.giftsforgood.com/pages/rep-program" target="_blank">Rep Program</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col mobile_100">
        <div class="details_footer_contact">
          <h4>CONNECT WITH US</h4>
          <div class="details_footer_form">
            <input type="email" class="form-control" placeholder="Enter your email" />
          </div>
          <div class="footer_social">
            <ul>
              <li>
                <a href="https://www.instagram.com/giftsforgoodhq/" target="_blank">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/giftsforgoodhq" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="https://www.pinterest.com/GiftsForGoodHQ" target="_blank">
                  <i class="fab fa-pinterest-p"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/GiftsForGoodhq" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/17947311/" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>