<!DOCTYPE html>
<html lang="en">
<% include ../../partials/head.ejs %>

<body>
  <% include ../../partials/public_header.ejs %>

  <%- include('../../partials/product-listing.ejs', { isMarketing: true }) %>

  <% include ../../partials/public_footer.ejs %>
  <% include ../../partials/modals.ejs %>

  <% include ../../partials/storage.ejs %>
  <% include ../../partials/foot.ejs %>

</body>
<% include ../../partials/product-listing_actions.ejs %>

</html>