<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
<% include ../partials/header.ejs %>

<style type="text/css">
    @media only screen and (max-width: 768px) {
        ol {
            padding-left: 20px;
        }
    }
    ol>li::marker {
        font-weight: 700;
    }
    li.text-block {
        margin-bottom: 12px;
    }
</style>

<section class="terms-conditions-area">
    <div class="extra-logo">
        <a href="/"><img src="/resources/images/logo.svg" alt="logo" width="100"/></a>
    </div>
    <div class="extra-title">
        <span>GIFT<i>forward</i><sup>®</sup> Platform Terms and Conditions</span>
    </div>
    <div class="container-fluid">
        <p>
            These Terms and Conditions (‘Agreement”) constitute a legally binding agreement between you (or “User”) and Gifts for Good, LLC, a California corporation (“GFG”), governing your access and use of the software, services, and products (collectively the “Services”) made available at giftforward.giftsforgood.com (“GiftForward<sup>®</sup> Platform”). As used herein, the term User includes any Customer under contract with GFG or any Company or other user under a contract with GFG.
        </p>
        <p>
            By checking the “<i><strong>I Agree to the Terms and Conditions</strong></i>” box, you agree to be bound by these Terms and Conditions.
        </p>
        <p>
            <strong>THIS AGREEMENT INCORPORATES THE BINDING ARBITRATION ON AN INDIVIDUAL BASIS  CLAUSE, CONTAINED IN SECTION 11 OF THE <a href="https://www.giftsforgood.com/pages/terms-of-service" target="_blank">GFG TERMS OF SERVICE</a>,  WHICH INCLUDES A WAIVER OF A RIGHT TO A JURY TRIAL OR A RIGHT TO FILE A CLASS ACTION.</strong>
        </p>

        <ol type="1">
            <li class="text-block">
                <strong>Gift<i>Forward</i><sup>®</sup> Platform Services.</strong> Purchases can only be made within the GIFT<i>forward</i><sup>®</sup> Platform by registered users subject to these Terms and Conditions and the general Gifts for Good website terms of service located at <a href="https://www.giftsforgood.com/pages/terms-of-service" target="_blank">GFG Terms of Service</a>, which are incorporated by reference as though expressly set forth herein. For orders placed through the GIFT<i>forward</i><sup>®</sup> Platform, to the extent of any conflict between these Terms and Conditions and the general Terms of Service, these Terms and Conditions shall control.
            </li>
            <li class="text-block">
                <strong>Product Ordering. </strong>
                <ol type="a">
                    <li>
                        <strong>Subject to Availability.</strong> Products offered through the Platform are subject to change at GFG’s discretion. Quantities of some products may be limited, and stock cannot always be guaranteed. Gifts for Good reserves the right to make changes or substitutions to products offered in the GIFT<i>forward</i><sup>®</sup> Platform in its sole discretion and without notice to User. Should a selected product no longer be available, GFG will offer a designated recipient the choice to receive a substitute product. Gifts for Good does not provide refunds for products that may be unavailable at the time of redemption.
                    </li>
                    <li>
                        <strong>Customized Products.</strong> To the extent offered through the Platform, customized products may be subject to the minimum order requirements in place at the time an order is placed. Subject to Section 6(e), customized orders may not be returned or refunded.
                    </li>
                    <li>
                        <strong>Redemption Links.</strong> For orders containing a Redemption Link, that is, either (i) a link within an email sent by GFG on behalf of User, or (ii) link made available through a landing page URL, that will enable the redemption of products purchased by User through the GIFT<i>forward</i><sup>®</sup> Platform, Redemption Links cannot be exchanged by a recipient for cash.
                    </li>
                </ol>
            </li>
            <li class="text-block">
                <strong>Limited License - Optional Branded Landing Page and Customized Products Only.</strong> To the extent User wishes to create a Branded Landing Page with respect to any Redemption Links to be delivered through the GIFT<i>forward</i><sup>®</sup> Platform or order products containing customized content, User may elect to upload (a) its Brand Assets (defined as User’s trademarks, service marks, design marks, symbols, logos) and/or (b) User Content (defined as any text, data, graphics, information, images, audio, visual or audiovisual combinations or other materials). To the extent User opts to create a Branded Landing Page or order customized products, User hereby grants to GFG a non-exclusive, royalty-free, fully paid-up, worldwide right and license to collect, process, store, host, copy, transmit, and display the Brand Assets and user Content within the GIFT<i>forward</i><sup>®</sup> Platform and on applicable customized products for the limited purposes set forth in this Section. User warrants that it has all right, title, and interest to license the User Content and Brand Assets to GFG. Except for the limited licenses granted herein, User shall retain all right, title, and interest in any Brand Assets and User Content.
            </li>
            <li class="text-block">
                <strong>Objectionable User Content.</strong> For any order requiring customized content provided by a User, GFG has the sole discretion to reject any User Content that is (a) false, deceptive, misleading, fraudulent, libelous, defamatory, abusive, violent, prejudicial, racially or ethnically offensive, (b) obscene, sexually explicit or pornographic, or (iii) violent or threatens physical harm to others.  GFG reserves the right, but otherwise has no obligation, to remove any User Content that it believes, in its sole and absolute discretion, violates this Section.  GFG shall not be responsible or liable for any (y)  User Content or (z) the receipt of User Content by someone other than the intended recipient.
            </li>
            <li class="text-block">
                <strong>Product Shipping. </strong>
                <ol type="a">
                    <li>
                        <strong>Shipments Solely within the U.S.</strong> Unless otherwise agreed to in writing by an authorized representative of GFG, products may be shipped solely to locations within the United States. To request a shipment outside of the United States, User may contact GFG at <a href="mailto:support@giftsforgood.com">support@giftsforgood.com</a>.
                    </li>
                    <li>
                        <strong>Fulfillment.</strong> GFG shall fulfill all orders in accordance with the terms of the applicable order and the terms of this Agreement. User is responsible for providing complete and accurate information necessary (i) to either ship the products directly to designated recipients, or (ii) to enable designated email recipients to redeem through applicable Redemption Links.
                    </li>
                    <li>
                        <strong>Delivery Date Disclaimer.</strong> GFG does not guarantee or warrant a particular day of delivery, and User expressly acknowledges that it is not relying on a specific delivery date in placing an order through the GIFT<i>forward</i><sup>®</sup> Platform.
                    </li>
                    <li>
                        <strong>Email Errors/Delivery Failures.</strong> GFG shall not be liable or responsible for (i) errors in a designated recipient’s name, shipping address or email address, delivery instructions or any other information provided by User; (ii) the failure to deliver a product to the designated recipient due to any circumstances outside of GFG’s control, including (1) for emails, delivery to designated recipients spam/junk mail or otherwise blocked as a result of email firewalls or if someone other than your intended recipient accesses the email account of the designated recipient, and/or, (2) for physical delivery, refusal of a recipient to accept delivery of a product or delivery to a recipient residing at the same address other than your intended recipient. GFG shall have no obligation to refund for any loss arising out of any delivery failure.
                    </li>
                    <li>
                        <strong>Title and Risk of Loss.</strong> Title and risk of loss shall pass upon GFG’s tender of products to the carrier.
                    </li>
                </ol>
            </li>
            <li class="text-block">
                <strong>Payment Terms.</strong>
                <ol type="a">
                    <li>
                        <strong>Payment.</strong> Invoices shall be issued upon order placement. Users shall be responsible for the payment of all orders regardless of delivery failure(s) as described in Section 5(d) or non-redemption of any Redemption Links. Payments shall be due upon receipt of invoice unless other arrangements have been agreed to in writing by GFG. Invoices not paid when due shall be subject to a late charge equal to the lesser of 1.5% of the amount of the invoice per month or the maximum rate permitted by applicable law.
                    </li>
                    <li>
                        <strong>Campaign Orders.</strong> All payments must be paid in full at least two (2) weeks prior to the launch of the campaign, unless otherwise agreed to in writing by GFG.  Failure to receive timely payment in accordance with this Section will impact the delivery of such campaign order(s).
                    </li>
                    <li>
                        <strong>Collection Orders.</strong> User shall be responsible for the payment of the flat fee per email recipient associated with the applicable Collection offered by GFG, and selected for purchase by User, through the GIFT<i>forward</i><sup>®</sup> Platform (e.g.,  a flat fee of $100 per email recipient for the “$100 Collection” or a flat fee of $200 for the “$200 Collection”), which includes shipping fees and applicable sales taxes in connection with the sale or delivery of products pursuant to the terms of the applicable order.
                    </li>
                    <li>
                        <strong>No Refunds/Returns.</strong> Given the bulk order and/or customized nature of any orders placed through the GIFT<i>forward</i><sup>®</sup> Platform, unless otherwise agreed to in writing by GFG, GFG shall not be obligated to accept any returns, exchanges, or provide any credits or refunds for any products redeemed through the GIFT<i>forward</i><sup>®</sup> Platform. Products are not eligible for return unless they arrive with a manufacturer defect or have been damaged in shipping, subject to verification required by GFG in its discretion.  Approved returns shall be coordinated between GFG and User.
                    </li>
                    <li>
                        <strong>Subscriptions.</strong> Users are under a  contractual  obligation  with  GFG,  typically  by  execution  of  a  GIFT<i>forward</i><sup>®</sup>  Impact  & Subscription  Agreement  and/or  other  contracts  between  Users  of  GFG  including  use  of  the  GFG  GIFT<i>forward</i><sup>®</sup>  software platform.  In  those  cases  where  a  GFG  subscription  agreement  exists,  Users  will  typically  be  treated  as  subscribers  for automatically renewable one (1) year terms, where payments are made to GFG either annually, semi-annually, or monthly.  It is a policy of GFG to notify its Users of an upcoming renewal payment at least forty-five (45) days in advance of said payment being automatically withdrawn against User funds. If the User is permitted to cancel its contract with GFG, said cancellation must occur within thirty (30) days of said notice, or not later than fifteen (15) days before an automatic payment is initiated by GFG.
                    </li>
                    <li>
                        <strong>Unredeemed Redemption Link Credits.</strong> For orders containing a Redemption Link, Users may request (email sufficient) that Redemption Links for unclaimed products be canceled and rolled into a credit within User’s GIFT<i>forward</i><sup>®</sup> Portal account to be applied towards future orders. Except as otherwise prohibited by applicable law, account credits are not eligible for cash refunds and will expire at the time of the expiration of the then in effect GIFT<i>forward</i><sup>®</sup> subscription or at the User’s option, said account credits may be applied  to one of the active Gifts for Good charity impact partners.
                    </li>
                </ol>
            </li>
            <li class="text-block">
                <strong>User License; Reservation of Rights.</strong> Subject to User’s compliance with the Terms and Conditions set forth herein, GFG hereby grants User a limited, royalty-free, worldwide and nonexclusive license to access the GIFT<i>forward</i><sup>®</sup> Platform for internal business purposes only. All right, title, and interest in the GIFT<i>forward</i><sup>®</sup> Platform shall at all times remain solely and exclusively the property of GFG.
            </li>
            <li class="text-block">
                <strong>Representations and Warranties.</strong> Each Party represents and warrants that:
                <ol type="a">
                    <li>
                        <strong>Good Standing.</strong> Each Party is a business duly incorporated and in good standing under the laws of its state of incorporation.
                    </li>
                    <li>
                        <strong>Corporate Authority.</strong> Each Party has all requisite corporate power and authority to execute, deliver, and perform its obligations under this Agreement.
                    </li>
                    <li>
                        <strong>Compliance with Applicable Laws.</strong> Each Party shall comply with all federal or state laws or regulations applicable to the performance of its obligations under this Agreement.
                    </li>
                </ol>
            </li>
            <li class="text-block">
                <strong>Data Privacy and CCPA Compliance.</strong> In compliance with the requirements of the California Consumer Privacy Act, California Civil Code Section 1798.100 et seq., (“CCPA”), User and GFG agree that GFG is (a) acting as a Service Provider as defined by the CCPA and  (b) processing Personal Information (as defined by the CCPA) on behalf of User solely for the specific business purpose of performing the services set forth in the Agreement.  GFG shall not retain, use or disclose Personal Information for any purpose other than for the specific purpose of performing the services set forth in the Agreement.  GFG shall not sell (as that term is defined by the CCPA) any Personal Information shared by either User or designated recipients with GFG.  GFG further agrees not to retain, use, or disclose  Personal Information obtained from User or designated recipients (y) outside the direct relationship between User and GFG, and (z) for any purposes other than for providing the services specified in the Agreement.  Upon User’s written request, and subject to and in accordance with all applicable laws, GFG agrees to promptly delete any and all Consumer Personal Information.   User shall comply with all applicable laws and shall ensure it has all authorizations and consent to share any third party (e.g., designated recipient) personal information with GFG for purposes of obtaining the services specified herein.  All capitalized terms in this Section, unless otherwise defined in this Agreement, shall have the meaning ascribed to them in the CCPA.
            </li>
            <li class="text-block">
                <strong>Modification/Termination of Services.</strong> GFG reserves the right to modify, suspend or terminate all, or any part of, the Services at any time in its sole and absolute discretion.  Except with respect to purchases ordered and paid for prior to the effective date of modification, suspension or termination of the Services, GFG shall not be liable to User for such modification, suspension or termination.
            </li>
        </ol>
    </div>
</section>

<% include ../partials/footer.ejs %>
<% include ../partials/foot.ejs %>

</body>
</html>
