<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Gifts for Good:  Create Campaign</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/dist/runtime.js?cd=v1"></script>
    <script src="/dist/vendors.js?cd=v1"></script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div
      id="root"
      data-default-collection="<%= default_collection %>"
      data-default-charity-collection="<%= default_charity_collection %>"
      data-default-intl-collection="<%= default_intl_collection %>"
      data-is-admin="<%= isAdmin %>"
      ></div>
    <script type="text/javascript">window.__PAGE = 'CREATE_CAMPAIGN';</script>
    <script src="/dist/index.js?cd=v1"></script>
  </body>
</html>