<!DOCTYPE html>
<html lang="en">
<% include ../../partials/head.ejs %>

<body>
<% include ../../partials/header.ejs %>

<!--thankYou_area Area Start -->
<section class="thankYou_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="/resources/images/icons/globe.png" alt="icon"/>
                <h2>
                    Welcome to Gifts for Good!
                </h2>
            </div>
        </div>
    </div>
</section>
<!--thankYou_area Area Start -->

<!--Down Banner Area Start -->
<div class="down_banner_5"></div>

<% include ../../partials/footer.ejs %>
<% include ../../partials/foot.ejs %>

<script type="text/javascript">

</script>
</body>
</html>
